.navAccount {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.navAccount .imagePerson {
  width: 20%;
}

.navAccount .imagePerson img {
  width: 100%;
  border-radius: 50%;
}

.navAccount .namePerson {
  margin-left: 2rem;
}

.navAccount .namePerson h1 {
  font-size: 18px;
}

.navAccount .namePerson p {
  font-size: 12px;
  opacity: .6;
}
