@media (max-width: 1223px) {
  .users {
    margin: auto;
    margin-top: 26rem;
    width: 90%;
    display: none;
  }
  .users .text {
    text-align: center;
  }
  .users .allUser {
    width: 100%;
    text-align: center;
  }
  .users .allUser .user {
    width: 17rem;
    margin: auto;
    border: 1px solid;
    display: inline-block;
    margin-left: 1%;
    margin-top: .8rem;
  }
  .users .allUser .user img {
    margin-top: 2rem;
  }
  .users .allUser .user a {
    display: inline-block;
  }
}

@media (max-width: 625px) {
  .users .allUser {
    width: 100%;
    text-align: center;
  }
  .users .allUser .user {
    width: 15rem;
    margin: auto;
    border: 1px solid;
    display: inline-block;
    margin-left: 1%;
    margin-top: .8rem;
  }
  .users .allUser .user img {
    margin-top: 2rem;
  }
  .users .allUser .user a {
    display: inline-block;
  }
}

@media (max-width: 616px) {
  .users {
    display: none;
  }
}
