.users {
  margin-left: 42px;
  margin-top: 32px;
  width: 60%;
  position: relative;
}

.users .text {
  margin-bottom: 1rem;
}

.users .allUser .user {
  background-color: #EFF8FF;
  border-radius: 25px;
  width: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 264px;
  margin: 0 1rem 1rem 0;
  display: inline-flex;
  text-align: center;
}

.users .allUser .user img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.users .allUser .user a {
  margin-top: .4rem;
  width: 80%;
  font-size: 17px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.users .allUser .user p {
  opacity: .5;
  font-size: 15px;
}
