.header {
  background-color: #0089ED;
  height: 458px;
  font-family: 'Poppins', sans-serif;
}

.header .logo {
  padding-left: 42px;
  padding-top: 31px;
}

.header .logo h1 {
  font-size: 20px;
  color: #fff;
}

.header .about {
  display: flex;
  align-items: center;
  margin-left: 73px;
}

.header .about .text {
  width: 400px;
  height: 224px;
  color: #fff;
}

.header .about .text h1 {
  font-size: 40px;
}

.header .about .text h2 {
  font-size: 23px;
  margin-top: 2px;
}

.header .about .text p {
  font-size: 16px;
  margin-top: 15px;
}

.header .about .image {
  margin-left: 1rem;
}

.signIn {
  width: 539px;
  height: 741px;
  border-radius: 25px;
  position: absolute;
  top: 10%;
  left: 63%;
  background-color: #fff;
  animation: moveInLeft 2s;
}

.signIn .header-signIn {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.signIn .header-signIn .logo p {
  font-size: 21px;
}

.signIn .header-signIn .logo p span {
  font-weight: bold;
  color: #0089ED;
}

.signIn .header-signIn .logo h1 {
  font-size: 55px;
}

.signIn .header-signIn .newAccount a {
  text-decoration: none;
  font-size: 13;
  color: #0089ED;
}

.signIn .header-signIn .newAccount p {
  font-size: 13px;
  opacity: .8;
}

.signIn .signWith {
  display: flex;
  align-items: center;
  color: #4285F4;
  text-align: center;
  justify-content: space-between;
  margin: 1.8rem 0;
}

.signIn .signWith .google {
  display: flex;
  align-items: center;
  background-color: #E9F1FF;
  border-radius: 15px;
  width: 298px;
  height: 55px;
  padding-left: 30px;
  cursor: pointer;
}

.signIn .signWith .google span {
  font-size: 16px;
  margin-left: 1rem;
}

.signIn .signWith .facebook {
  background-color: #E9F1FF;
  border-radius: 15px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  cursor: pointer;
}

.signIn .signWith .icloud {
  background-color: #E9F1FF;
  border-radius: 15px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  cursor: pointer;
}

.signIn form .email {
  margin-top: 2rem;
}

.signIn form .email label {
  font-size: 16px;
  margin-left: 5px;
}

.signIn form .email input {
  width: 100%;
  height: 52px;
  border-radius: 15px;
  margin-top: .5rem;
  outline: none;
  padding-left: 1rem;
}

.signIn form .password {
  margin-top: 2rem;
}

.signIn form .password label {
  font-size: 16px;
  margin-left: 5px;
}

.signIn form .password input {
  width: 100%;
  height: 52px;
  border-radius: 15px;
  margin-top: .5rem;
  padding: 1rem;
  outline: none;
}

.signIn form .Forgot {
  color: #4285F4;
  font-size: 13px;
  text-align: center;
  margin: 1rem 0;
  cursor: pointer;
}

.signIn form .button button {
  width: 100%;
  height: 52px;
  border-radius: 15px;
  background-color: #0089ED;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.signUp form .email {
  margin-top: 2rem;
}

.signUp form .email label {
  font-size: 16px;
  margin-left: 5px;
}

.signUp form .email input {
  width: 100%;
  height: 52px;
  border-radius: 15px;
  margin-top: .5rem;
  outline: none;
  padding-left: 1rem;
}

.signUp form .fullName {
  margin-top: 2rem;
}

.signUp form .fullName label {
  font-size: 16px;
  margin-left: 5px;
}

.signUp form .fullName input {
  width: 100%;
  height: 52px;
  border-radius: 15px;
  margin-top: .5rem;
  outline: none;
  padding-left: 1rem;
}

.signUp form .username {
  margin-top: 2rem;
}

.signUp form .username label {
  font-size: 16px;
  margin-left: 5px;
}

.signUp form .username input {
  width: 100%;
  height: 52px;
  border-radius: 15px;
  margin-top: .5rem;
  outline: none;
  padding-left: 1rem;
}

.signUp form .password {
  margin-top: 2rem;
}

.signUp form .password label {
  font-size: 16px;
  margin-left: 5px;
}

.signUp form .password input {
  width: 100%;
  height: 52px;
  border-radius: 15px;
  margin-top: .5rem;
  padding: 1rem;
  outline: none;
}

.signUp form .button {
  margin-top: 2rem;
}

.signUp form .button button {
  width: 100%;
  height: 52px;
  border-radius: 15px;
  background-color: #0089ED;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.completeSignUp {
  animation: opacity 1s;
}

.completeSignUp form {
  margin-top: 5rem;
}

.completeSignUp form .addphoto {
  text-align: center;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
}

.completeSignUp form .addphoto input {
  display: none;
}

.completeSignUp form .addphoto .preview {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: -3rem;
  border-radius: 50%;
}

.completeSignUp form .addphoto .images {
  background-color: #0189ED;
  padding: 1rem 2rem;
  color: #fff;
  font-weight: bold;
  border: 2px solid #0189ED;
  border-radius: 8px;
  transition: .4s;
  cursor: pointer;
}

.completeSignUp form .addphoto .images:hover {
  background-color: transparent;
  color: #0189ED;
}

.completeSignUp form .country {
  margin-top: -4rem;
}

.completeSignUp form .country label {
  font-size: 16px;
  margin-left: 5px;
}

.completeSignUp form .country select {
  width: 100%;
  height: 52px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid #ADADAD;
  margin-top: .3rem;
  outline: none;
  padding-left: .5rem;
  cursor: pointer;
  background-color: transparent;
}

.completeSignUp form .country select option {
  background-color: transparent;
}

.completeSignUp form .country select::-webkit-inner-spin-button, .completeSignUp form .country select::-webkit-outer-spin-button {
  width: 2rem;
}

.completeSignUp form .phoneNumber {
  margin: 1rem 0;
}

.completeSignUp form .phoneNumber label {
  font-size: 16px;
  margin-left: 5px;
}

.completeSignUp form .phoneNumber .phone {
  border: 1px solid #ADADAD;
  border-radius: 15px;
  padding: 15px;
  margin-top: .3rem;
}

.completeSignUp form .phoneNumber .phone input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: .5rem;
  background-color: transparent;
}

.completeSignUp form .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completeSignUp form .flex .birthday {
  margin: 1rem 0;
  width: 48%;
}

.completeSignUp form .flex .birthday label {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 1rem;
}

.completeSignUp form .flex .birthday input {
  width: 100%;
  height: 52px;
  border-radius: 15px;
  border: 1px solid #ADADAD;
  margin-top: .3rem;
  outline: none;
  padding-left: .5rem;
  cursor: pointer;
  background-color: transparent;
}

.completeSignUp form .flex .gender {
  width: 48%;
}

.completeSignUp form .flex .gender select {
  width: 100%;
  height: 52px;
  border-radius: 15px;
  border: 1px solid #ADADAD;
  margin-top: .3rem;
  outline: none;
  padding-left: .5rem;
  cursor: pointer;
  background-color: transparent;
}

.completeSignUp form .button {
  margin: .5rem 0;
}

.completeSignUp form .button button {
  width: 100%;
  height: 52px;
  border-radius: 15px;
  background-color: #0089ED;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
}

.users {
  margin-left: 42px;
  margin-top: 32px;
  width: 60%;
  position: relative;
}

.users .text {
  margin-bottom: 1rem;
}

.users .allUser .user {
  background-color: #EFF8FF;
  border-radius: 25px;
  width: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 264px;
  margin: 0 1rem 1rem 0;
  display: inline-flex;
  text-align: center;
}

.users .allUser .user img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.users .allUser .user a {
  margin-top: .4rem;
  width: 80%;
  font-size: 17px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.users .allUser .user p {
  opacity: .5;
  font-size: 15px;
}

.visitor .headerProfile {
  justify-content: space-around;
}

.visitor .headerProfile .account {
  width: 100%;
}

.is-not-empty-input {
  border: 1px solid #ADADAD;
}

.is-not-empty-input::-webkit-input-placeholder {
  color: #808080;
  font-size: 14px;
}

.is-empty-input {
  border: 1px solid red;
  animation: opacity .8s;
}

.is-empty-input::-webkit-input-placeholder {
  color: red;
  font-size: 14px;
  opacity: .7;
}

.message-input-error {
  text-align: center;
  color: red;
  font-size: 15px;
  animation: opacity .8s;
}

.buttonLoading {
  opacity: .8;
}

.verification-error {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma,Geneva,Arial,sans-serif;
  font-size: 11px;
  padding: 10px 36px;
  margin: 10px;
  font-size: 18px;
  background-color: #fff5f5;
  border: 1px solid #f5aca6;
  animation: opacity .7s;
}

.verification-error span {
  font-weight: bold;
  text-transform: uppercase;
  color: #cc0033;
}

.next-page {
  display: none;
}

.disable-internet {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
}

.disable-internet span {
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250, 250, 250, 0.3);
}

@keyframes moveInLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider-image {
  width: 100%;
}

.slider-image img {
  width: 100%;
  height: 100%;
}

.slider-image .slide {
  opacity: 0;
  transition-duration: 2s;
}

.slider-image .activeSlide {
  opacity: 1;
  transition-duration: 2s;
}

.navAccount {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.navAccount .imagePerson {
  width: 20%;
}

.navAccount .imagePerson img {
  width: 100%;
  border-radius: 50%;
}

.navAccount .namePerson {
  margin-left: 2rem;
}

.navAccount .namePerson h1 {
  font-size: 18px;
}

.navAccount .namePerson p {
  font-size: 12px;
  opacity: .6;
}

.addPhotoClick {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  z-index: 99999;
  margin-top: -1rem;
}

.addPhotoClick .content {
  position: absolute;
  width: 620px;
  height: 340.2px;
  border-radius: 12px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.addPhotoClick .content header {
  margin-left: 32px;
  margin-top: 24px;
}

.addPhotoClick .content header h1 {
  font-weight: 500;
  font-size: 24px;
}

.addPhotoClick .content form {
  margin-left: 32px;
  margin-top: 24px;
}

.addPhotoClick .content form label:first-child {
  display: inline-block;
  width: 100%;
  margin-bottom: 1px;
  margin-left: 2px;
}

.addPhotoClick .content form input:first-of-type {
  height: 55px;
  width: 95%;
  border-radius: 18px;
  border: 1px solid #4F4F4F;
  padding-left: 18px;
  outline: none;
}

.addPhotoClick .content form input:first-of-type::placeholder {
  font-weight: 500;
}

.addPhotoClick .content form #file {
  display: none;
}

.addPhotoClick .content form label:last-of-type {
  display: inline-block;
  margin-top: 1rem;
  background-color: #2e80ed;
  width: 95%;
  text-align: center;
  border: 3px solid #2e80ed;
  border-radius: 18px;
  height: 55px;
  line-height: 52px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: .4s;
}

.addPhotoClick .content form label:last-of-type:hover {
  background-color: transparent;
  color: #2e80ed;
}

.addPhotoClick .content form .button {
  margin-top: 2rem;
  float: right;
  margin-right: 32px;
}

.addPhotoClick .content form .button button {
  width: 105px;
  height: 55px;
  background-color: #3DB46D;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.addPhotoClick .content form .button button:first-child {
  background-color: red;
  color: #fff;
  border: 3px solid red;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  transition: .3s;
}

.addPhotoClick .content form .button button:first-child:hover {
  background-color: transparent;
  color: red;
}

.addPhotoClick .content form .button button:last-child {
  border: 3px solid #3DB46D;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: .3s;
}

.addPhotoClick .content form .button button:last-child:hover {
  background-color: transparent;
  color: #3DB46D;
}

.headerProfile {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.headerProfile .account .dataUser {
  display: flex;
  cursor: pointer;
}

.headerProfile .account .dataUser .photoProfile img {
  width: 50.15px;
  height: 50.15px;
  border-radius: 50%;
}

.headerProfile .account .dataUser .userName {
  margin: .3rem;
}

.headerProfile .account .dataUser .userName h1 {
  font-weight: 700;
  font-size: 17px;
}

.headerProfile .account .dataUser .userName p {
  margin-top: -5px;
  font-weight: 500;
  font-size: 14px;
  opacity: .7;
}

.headerProfile .account nav {
  position: absolute;
  width: 20%;
  background-color: #f9f9f9;
  text-align: center;
  z-index: 5;
  border-top: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: none;
  animation: moveInDown .7s;
}

.headerProfile .account nav ul {
  list-style: none;
}

.headerProfile .account nav ul li {
  font-weight: 500;
  padding: .5rem 0;
  cursor: pointer;
  transition: .4s;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.headerProfile .account nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.headerProfile .account nav ul input {
  display: none;
}

.headerProfile .account nav ul label {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  padding: .5rem 0;
  cursor: pointer;
  transition: .4s;
}

.headerProfile .account nav ul label:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.headerProfile .account nav:hover {
  display: block;
}

.headerProfile .account .dataUser:hover ~ nav {
  display: block;
}

.headerProfile .search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc8c8;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  height: 55px;
}

.headerProfile .search input {
  outline: none;
  width: 100%;
  height: 2.5rem;
  border: none;
  margin-left: .5rem;
  font-size: 15px;
}

.headerProfile .addPhoto {
  height: 55px;
  text-align: center;
}

.headerProfile .addPhoto button {
  width: 137px;
  height: 100%;
  background-color: #3DB46D;
  border-radius: 12px;
  border: 3px solid #3DB46D;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: .4s;
}

.headerProfile .addPhoto button:hover {
  background-color: transparent;
  color: #3DB46D;
}

.navPhone {
  display: none;
}

@keyframes moveInDown {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hide {
  display: none;
}

.main {
  margin: 2rem auto;
}

.main .grid-container {
  text-align: center;
}

.main .grid-container .column {
  margin: auto;
  padding: 5px 8px;
  width: 450.87px;
  position: relative;
  display: inline-block;
  margin: 1rem;
}

.main .grid-container .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 380px;
  border-radius: 24px;
  position: relative;
}

.main .grid-container .column button {
  position: absolute;
  top: 6%;
  right: 5%;
  border: 1px solid;
  width: 25%;
  height: 35px;
  border: 2px solid #EB5757;
  border-radius: 38px;
  background-color: transparent;
  color: #EB5757;
  font-weight: bold;
  font-size: 15px;
  transition: .3s;
  display: none;
  animation: moveInDownButton .5s;
}

.main .grid-container .column button:hover {
  background-color: #EB5757;
  color: #fff;
  cursor: pointer;
}

.main .grid-container .column h1 {
  position: absolute;
  bottom: 5%;
  width: 70%;
  font-size: 22px;
  font-weight: 700;
  margin-left: 24px;
  color: #fff;
  display: none;
  animation: moveInDownText .5s;
  text-align: left;
}

.main .grid-container .column:hover .delete {
  display: block;
}

.main .grid-container .column:hover .comment {
  display: block;
}

@keyframes moveInDownButton {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveInDownText {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1473px) {
  .header .about {
    margin-top: 4rem;
    margin-left: 42px;
  }
  .header .about .image {
    display: none;
  }
}

@media (max-width: 1223px) {
  .header .about {
    display: none;
  }
}

@media (max-width: 463px) {
  .header {
    display: none;
  }
  .header .about {
    display: none;
  }
}

@media (max-width: 1473px) {
  .signIn {
    left: 50%;
    animation: opacity 1s;
  }
}

@media (max-width: 1223px) {
  .signIn {
    left: 50%;
    transform: translate(-50%);
  }
}

@media (max-width: 541px) {
  .signIn {
    width: 439px;
    height: 741px;
  }
  .signIn .header-signIn {
    margin: 3rem 2rem;
  }
  .signIn .header-signIn .logo p {
    font-size: 20px;
  }
  .signIn .header-signIn .logo h1 {
    font-size: 45px;
  }
  .signIn .header-signIn .newAccount a {
    font-weight: bold;
  }
  .signIn .signWith {
    justify-content: center;
  }
  .signIn .signWith .google {
    width: 198px;
    cursor: pointer;
  }
  .signIn .signWith .google span {
    font-size: 13px;
  }
  .signIn .signWith .facebook {
    margin: 0 2rem;
  }
  .signIn form .email {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .signIn form .email label {
    font-size: 14px;
    margin-left: 5px;
  }
  .signIn form .email input {
    width: 90%;
  }
  .signIn form .password {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .signIn form .password label {
    font-size: 14px;
    margin-left: 5px;
  }
  .signIn form .password input {
    width: 90%;
  }
  .signIn form .Forgot {
    font-size: 13px;
    margin: 1rem 0;
  }
  .signIn form .button {
    margin-left: 2rem;
  }
  .signIn form .button button {
    width: 90%;
  }
}

@media (max-width: 463px) {
  .signIn {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: -18%;
    animation: none;
  }
  .signIn .header-signIn {
    justify-content: left;
  }
  .signIn .header-signIn .logo {
    margin-right: 30%;
  }
  .signIn .header-signIn .logo p {
    font-size: 17px;
  }
  .signIn .header-signIn .logo h1 {
    font-size: 25px;
  }
  .signIn .header-signIn .newAccount a {
    font-weight: bold;
  }
  .signIn .signWith {
    justify-content: space-between;
    width: 90%;
    margin-left: 1rem;
  }
  .signIn .signWith .google {
    width: 70%;
    cursor: pointer;
  }
  .signIn .signWith .google span {
    font-size: 13px;
  }
  .signIn .signWith .facebook {
    margin: 0 0.5rem;
  }
  .signIn form {
    width: 90%;
    margin: auto;
  }
  .signIn form .email {
    margin-left: 0;
  }
  .signIn form .email input {
    width: 100%;
  }
  .signIn form .password {
    margin-left: 0;
  }
  .signIn form .password input {
    width: 100%;
  }
  .signIn form .button {
    margin-left: 0;
  }
  .signIn form .button button {
    width: 100%;
  }
}

@media (max-width: 418px) {
  .signIn .header-signIn .logo {
    margin-right: 20%;
  }
  .signIn .header-signIn .logo p {
    font-size: 13px;
  }
  .signIn .header-signIn .logo h1 {
    font-size: 20px;
  }
}

@media (max-width: 1223px) {
  .users {
    margin: auto;
    margin-top: 26rem;
    width: 90%;
    display: none;
  }
  .users .text {
    text-align: center;
  }
  .users .allUser {
    width: 100%;
    text-align: center;
  }
  .users .allUser .user {
    width: 17rem;
    margin: auto;
    border: 1px solid;
    display: inline-block;
    margin-left: 1%;
    margin-top: .8rem;
  }
  .users .allUser .user img {
    margin-top: 2rem;
  }
  .users .allUser .user a {
    display: inline-block;
  }
}

@media (max-width: 625px) {
  .users .allUser {
    width: 100%;
    text-align: center;
  }
  .users .allUser .user {
    width: 15rem;
    margin: auto;
    border: 1px solid;
    display: inline-block;
    margin-left: 1%;
    margin-top: .8rem;
  }
  .users .allUser .user img {
    margin-top: 2rem;
  }
  .users .allUser .user a {
    display: inline-block;
  }
}

@media (max-width: 616px) {
  .users {
    display: none;
  }
}

@media (max-width: 541px) {
  .signUp {
    animation: opacity 1s;
  }
  .signUp form .email {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .signUp form .email label {
    font-size: 14px;
    margin-left: 5px;
  }
  .signUp form .email input {
    width: 90%;
  }
  .signUp form .fullName {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .signUp form .fullName label {
    font-size: 14px;
    margin-left: 5px;
  }
  .signUp form .fullName input {
    width: 90%;
  }
  .signUp form .username {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .signUp form .username label {
    font-size: 14px;
    margin-left: 5px;
  }
  .signUp form .username input {
    width: 90%;
  }
  .signUp form .password {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .signUp form .password label {
    font-size: 14px;
    margin-left: 5px;
  }
  .signUp form .password input {
    width: 90%;
  }
  .signUp form .button {
    margin-left: 2rem;
  }
  .signUp form .button button {
    width: 90%;
  }
}

@media (max-width: 463px) {
  .signUp {
    animation: none;
  }
  .signUp .header-signIn .logo {
    margin-right: 15%;
  }
  .signUp .header-signIn .newAccount a {
    font-weight: bold;
  }
  .signUp form .email {
    margin-left: 0;
  }
  .signUp form .email input {
    width: 100%;
  }
  .signUp form .fullName {
    margin-left: 0;
  }
  .signUp form .fullName input {
    width: 100%;
  }
  .signUp form .username {
    margin-left: 0;
  }
  .signUp form .username input {
    width: 100%;
  }
  .signUp form .password {
    margin-left: 0;
  }
  .signUp form .password input {
    width: 100%;
  }
  .signUp form .button {
    margin-left: 0;
  }
  .signUp form .button button {
    width: 100%;
  }
}

@media (max-width: 541px) {
  .completeSignUp {
    animation: opacity 1s;
  }
  .completeSignUp form {
    margin-top: 5rem;
  }
  .completeSignUp form .addphoto {
    text-align: center;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
  }
  .completeSignUp form .addphoto .preview {
    width: 150px;
    height: 150px;
  }
  .completeSignUp form .addphoto .images {
    margin-left: 2rem;
    width: 83%;
  }
  .completeSignUp form .country {
    margin-left: 2rem;
  }
  .completeSignUp form .country label {
    font-size: 14px;
  }
  .completeSignUp form .country select {
    width: 90%;
  }
  .completeSignUp form .phoneNumber {
    margin-left: 2rem;
  }
  .completeSignUp form .phoneNumber label {
    font-size: 14px;
  }
  .completeSignUp form .phoneNumber .phone {
    width: 90%;
  }
  .completeSignUp form .flex {
    justify-content: space-around;
    width: 94%;
  }
  .completeSignUp form .flex .birthday {
    margin: 0 1rem;
    width: 42%;
  }
  .completeSignUp form .flex .birthday label {
    font-size: 14px;
  }
  .completeSignUp form .flex .gender {
    width: 42%;
  }
  .completeSignUp form .flex label {
    font-size: 14px;
  }
  .completeSignUp form .button {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .completeSignUp form .button button {
    width: 90%;
  }
}

@media (max-width: 463px) {
  .completeSignUp form {
    margin-top: 5rem;
  }
  .completeSignUp form .country {
    margin-left: 0;
  }
  .completeSignUp form .country select {
    width: 100%;
  }
  .completeSignUp form .phoneNumber {
    margin-left: 0;
  }
  .completeSignUp form .phoneNumber label {
    font-size: 14px;
  }
  .completeSignUp form .phoneNumber .phone {
    width: 100%;
  }
  .completeSignUp form .flex {
    width: 100%;
  }
  .completeSignUp form .flex .birthday {
    width: 51%;
  }
  .completeSignUp form .flex .gender {
    width: 50%;
  }
  .completeSignUp form .button {
    margin-top: 1rem;
    margin-left: 0;
  }
  .completeSignUp form .button button {
    width: 100%;
  }
}

@media (max-width: 795px) {
  .headerProfile {
    display: none;
  }
}

@media (max-width: 964px) {
  .main .grid-container .column {
    margin: auto;
    padding: 5px 8px;
    width: 350.87px;
    position: relative;
    display: inline-block;
    margin: 1rem;
  }
  .main .grid-container .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 300px;
    border-radius: 24px;
    position: relative;
  }
}

@media (max-width: 766px) {
  .main .grid-container .column {
    margin: auto;
    padding: 5px 8px;
    width: 300.87px;
    position: relative;
    display: inline-block;
    margin: 1rem;
  }
  .main .grid-container .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 270px;
    border-radius: 24px;
    position: relative;
  }
}

@media (max-width: 663px) {
  .main .grid-container .column {
    width: 250.87px;
    margin: 0;
  }
  .main .grid-container .column button {
    top: 7%;
    right: 6%;
  }
  .main .grid-container .column h1 {
    width: 80%;
    font-size: 16px;
  }
  .main .grid-container .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 250px;
    border-radius: 24px;
    position: relative;
  }
}

@media (max-width: 500px) {
  .main .grid-container .column {
    width: 100%;
  }
  .main .grid-container .column img {
    height: 350px;
  }
}

@media (max-width: 300px) {
  .main .grid-container .column {
    width: 100%;
  }
  .main .grid-container .column img {
    height: 280px;
  }
}

@media (max-width: 795px) {
  .navPhone {
    display: block;
  }
  .allCountent {
    display: flex;
    align-items: center;
  }
  .allCountent .contentNavPhone {
    position: absolute;
    background-color: #f9f9f9;
    width: 50%;
    height: 100%;
    top: 0;
    z-index: 99999;
    left: -40rem;
    transition: .3s;
  }
  .allCountent .contentNavPhone .dataUser {
    display: flex;
    cursor: pointer;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-bottom: .6rem;
    border-bottom: 3px solid #b9b5b5;
  }
  .allCountent .contentNavPhone .dataUser .photoProfile img {
    width: 70.15px;
    height: 70.15px;
    border-radius: 50%;
  }
  .allCountent .contentNavPhone .dataUser .userName {
    margin: .3rem;
    margin-left: .7rem;
  }
  .allCountent .contentNavPhone .dataUser .userName h1 {
    font-weight: 700;
    font-size: 20px;
  }
  .allCountent .contentNavPhone .dataUser .userName p {
    margin-top: -5px;
    font-weight: 500;
    font-size: 16px;
    opacity: .7;
  }
  .allCountent .contentNavPhone nav {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
  .allCountent .contentNavPhone nav ul {
    list-style: none;
  }
  .allCountent .contentNavPhone nav ul li {
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    padding: .5rem 0;
    cursor: pointer;
    background-color: #3DB46D;
    width: 84%;
    margin: auto;
    border-radius: 12px;
    color: #fff;
    margin-top: 1rem;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%);
  }
  .allCountent .contentNavPhone nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .allCountent .contentNavPhone nav ul .addPhoto {
    height: 55px;
    text-align: center;
    margin-top: 0.5rem;
  }
  .allCountent .contentNavPhone nav ul .addPhoto button {
    font-weight: 700;
    font-size: 16px;
    padding: .5rem 0;
    cursor: pointer;
    background-color: #3DB46D;
    width: 70%;
    border-radius: 12px;
    border: 3px solid #3DB46D;
    color: #fff;
    transition: .4s;
  }
  .allCountent .contentNavPhone nav ul .addPhoto button:hover {
    background-color: transparent;
    color: #3DB46D;
  }
  .allCountent .contentNavPhone nav ul input {
    display: none;
  }
  .allCountent .contentNavPhone nav ul label {
    letter-spacing: .06rem;
    display: inline-block;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    padding: .5rem 0;
    cursor: pointer;
  }
  .allCountent .contentNavPhone nav ul label:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .allCountent .contentNavPhone nav:hover {
    display: block;
  }
  .allCountent .search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc8c8;
    border-radius: 10px;
    width: 85%;
    padding: 10px;
    height: 55px;
  }
  .allCountent .search input {
    outline: none;
    width: 100%;
    height: 2.5rem;
    border: none;
    margin-left: .5rem;
    font-size: 15px;
  }
  .list {
    margin: 1rem;
  }
  #list {
    display: none;
  }
  .close {
    position: absolute;
    right: 2%;
  }
  #list:checked ~ .contentNavPhone {
    left: 0;
  }
}

@media (max-width: 683px) {
  .allCountent .contentNavPhone .dataUser .photoProfile img {
    width: 60.15px;
    height: 60.15px;
  }
  .allCountent .contentNavPhone .dataUser .userName h1 {
    font-weight: 700;
    font-size: 17px;
  }
  .allCountent .contentNavPhone .dataUser .userName p {
    font-size: 16px;
  }
}

@media (max-width: 601px) {
  .allCountent .contentNavPhone .dataUser .photoProfile img {
    width: 50.15px;
    height: 50.15px;
  }
  .allCountent .contentNavPhone .dataUser .userName h1 {
    font-weight: 700;
    font-size: 15px;
  }
  .allCountent .contentNavPhone .dataUser .userName p {
    font-size: 13px;
  }
}

@media (max-width: 601px) {
  .allCountent .contentNavPhone {
    width: 70%;
  }
  .allCountent .contentNavPhone .dataUser .photoProfile img {
    width: 70.15px;
    height: 70.15px;
  }
  .allCountent .contentNavPhone .dataUser .userName h1 {
    font-size: 18px;
  }
  .allCountent .contentNavPhone .dataUser .userName p {
    font-size: 15px;
  }
}

@media (max-width: 601px) {
  .allCountent .contentNavPhone {
    width: 100%;
  }
  .allCountent .contentNavPhone .dataUser .photoProfile img {
    width: 70.15px;
    height: 70.15px;
  }
  .allCountent .contentNavPhone .dataUser .userName h1 {
    font-size: 19px;
  }
  .allCountent .contentNavPhone .dataUser .userName p {
    font-size: 16px;
  }
}
